{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page 
{% endblock %}

{% block body %}       

<h1>New Page</h1>
    
<form action="{% url 'new_page' %}" method="post" style="padding-top: 30px;">
    {% csrf_token %}
    <div class="input-group mb-3">
    <label class="input-group-text" id="basic-addon1" for="title">Add Title</label>
    <input type="text" class="form-control" id="title" placeholder="Title" aria-label="Username" aria-describedby="basic-addon1" name="title"> 
    </div>

    <div class="form-floating">
    <label class="input-group-text" for="floatingTextarea2" style="max-width: 85px;">Content</label>
    
    <textarea class="form-control" name="content" placeholder="Add Markdown content here..." id="floatingTextarea2" style="height: 250px"></textarea>
    </div>
    <div class="col-auto" style="padding-top: 20px;">
    <button type="submit" class="btn btn-primary" >New Page</button>
    </div>  
</form>

{% endblock %}
